/* General styles */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: hotpink;
  }
  

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

/* Form styles */
.app {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

form input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}